<ng-include src="'app/menu.html'"></ng-include>

Pealkiri: <input ng-model="vm.title" ng-disabled="vm.readonly" /> <br />
Text: <input ng-model="vm.text" ng-disabled="vm.readonly" /> <br />
<button ng-click="vm.addNew()" ng-if="!vm.readonly" >Saada</button>